# in ~/.gitconfig:
# [include]
#        path = ~/.dotfiles/git.config


[push]
	autoSetupRemote = true
[pull]
	ff = only
[init]
	defaultBranch = main
[advice]
	detachedHead = false
[core]
	excludesfile = ~/.dotfiles/git.ignore
[log]
	date = iso
[alias]
	contains = "!f() { git merge-base --is-ancestor \"$2\" \"$1\" && echo \"$1 contains $2\" || echo \"$1 does NOT contain $2\"; }; f"
	bs = !git fetch -p && git for-each-ref --format=\"%(refname:short) %(upstream:track) %(upstream:remotename)\" refs/heads
	sm = !git log --name-status $(git log --merges -n 1 --pretty=format:\"%H\")..
	mlog = !git log $3 --oneline --left-right --graph --boundary --cherry-mark $1...$2
	sns = show  --name-status
	ol = log --oneline --topo-order        
