# in ~/.gitconfig:
# [include]
#        path = ~/.dotfiles/git.config


[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.dotfiles/git.ignore
[alias]
	contains = "!f() { git merge-base --is-ancestor \"$2\" \"$1\" && echo \"$1 contains $2\" || echo \"$1 does NOT contain $2\"; }; f"
        